In [1]:
#Week 3: Day 1- Welcome to Week 3 â€“ Object Oriented Programming (OOP)

class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        print(f"My name is {self.name}, and I am {self.age} years old.")

student1 = Student("Ankita", 28)
student1.introduce()

My name is Ankita, and I am 28 years old.

In [2]:
class Calculator:
    def add(self, a, b):
        return a + b

    def subtract(self, a, b):
        return a - b

calc = Calculator()
print(calc.add(10, 5))
print(calc.subtract(10, 3))

15
7

In [3]:
class BankAccount:
    def __init__(self, owner, balance):
        self.owner = owner
        self.__balance = balance   # Private attribute

    def deposit(self, amount):
        self.__balance += amount

    def get_balance(self):
        return self.__balance

acc = BankAccount("Ankita", 1000)
acc.deposit(500)
print(acc.get_balance())

1500

In [4]:
class Animal:
    def speak(self):
        print("Some sound")

class Dog(Animal):
    def speak(self):
        print("Woof!")

class Cat(Animal):
    def speak(self):
        print("Meow!")

dog = Dog()
cat = Cat()

dog.speak()
cat.speak()

Woof!
Meow!

In [5]:
class Bird:
    def sound(self):
        print("Chirp!")

class Cow:
    def sound(self):
        print("Moo!")

def make_sound(animal):
    animal.sound()

make_sound(Bird())
make_sound(Cow())

Chirp!
Moo!

In [6]:
class Car:
    def __init__(self, brand, model, year):
        self.brand = brand
        self.model = model
        self.year = year

    def details(self):
        print(f"{self.year} {self.brand} {self.model}")

car1 = Car("Toyota", "Corolla", 2020)
car1.details()

2020 Toyota Corolla

In [7]:
#Mini Project
class Student:
    def __init__(self, name, age, course):
        self.name = name
        self.age = age
        self.course = course

class StudentManager:
    def __init__(self):
        self.students = []

    def add_student(self, student):
        self.students.append(student)

    def show_all(self):
        print("\nAll Students:")
        for s in self.students:
            print(f"{s.name} - {s.age} - {s.course}")

    def search_student(self, search_name):
        for s in self.students:
            if s.name.lower() == search_name.lower():
                print("\nStudent Found:")
                print(f"{s.name}, {s.age}, {s.course}")
                return
        print("Student not found.")


# Testing the system
manager = StudentManager()

manager.add_student(Student("Ankita", 22, "Python"))
manager.add_student(Student("John", 24, "Cybersecurity"))
manager.add_student(Student("Mia", 21, "Data Analytics"))

manager.show_all()
manager.search_student("Ankita")

All Students:
Ankita - 22 - Python
John - 24 - Cybersecurity
Mia - 21 - Data Analytics

Student Found:
Ankita, 22, Python