In [32]:
# Week 1: Day 1
print("Hello, Python!")

Hello, Python!

In [33]:
# Variables
name = "Ankita"
gender = "Female"
contact_number = 9871263100
print(f"My name is {name}, I am {gender} and my contact number is {contact_number}")

My name is Ankita, I am Female and my contact number is 9871263100

In [34]:
# List of fruits
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [35]:
# Check even or odd
number = 7
if number % 2 == 0:
    print(f"{number} is even")
else:
    print(f"{number} is odd")

7 is odd

In [36]:
# Loop Through Numbers

print("\nNumbers from 1 to 10:")
for i in range(1, 11):
 print(i, end=" ")

Numbers from 1 to 10:
1 2 3 4 5 6 7 8 9 10

In [37]:
# Dictionary Example

person = {"name": name, "gender": gender, "Contact": contact_number}
print("\n\nPerson Details:")
for key, value in person.items():
 print(f"{key}: {value}")

Person Details:
name: Ankita
gender: Female
Contact: 9871263100

In [38]:
# Input Example
user_name = input("Enter your name: ")
print(f"Hello, {user_name}! Nice to meet you.")

Enter your name: Anki
Hello, Anki! Nice to meet you.

In [39]:
# Day 2: Loops and List Operations

# Reset list
fruits = ["apple", "banana", "cherry", "mango"]

# List operations
fruits.append("orange")        # Add
fruits.remove("banana")        # Remove

print("\nUpdated fruits list:")
for fruit in fruits:
    print(fruit)

Updated fruits list:
apple
cherry
mango
orange

In [40]:
# Multiplication Table 1-10
print("\nMultiplication Table (1-10):")
for i in range(1, 6):
    for j in range(1, 11):
        print(f"{i} x {j} = {i*j}")
    print("------")

Multiplication Table (1-10):
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
------

In [41]:
# Day 3: Functions

# Factorial function
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result

print(f"\nFactorial of 5 is {factorial(5)}")

Factorial of 5 is 120

In [42]:
# Sum of numbers function
def sum_numbers(n):
    total = 0
    for i in range(1, n+1):
        total += i
    return total

print(f"Sum of numbers 1 to 10 is {sum_numbers(10)}")

Sum of numbers 1 to 10 is 55

In [43]:
# Day 4: File Handling

# Write contacts to a file
with open("contacts.txt", "w") as file:
    file.write("Ankita\nJohn\nSara\n")

# Read and print contacts
with open("contacts.txt", "r") as file:
    data = file.read()
    print("\nContacts from file:")
    print(data)

Contacts from file:
Ankita
John
Sara

In [44]:
# Day 5: Error Handling

try:
    x = int(input("Enter a number: "))
    y = int(input("Enter another number: "))
    print(f"Division result: {x / y}")
except ZeroDivisionError:
    print("Cannot divide by zero!")
except ValueError:
    print("Invalid input!")
finally:
    print("Execution completed.")

Enter a number: 10
Enter another number: 8
Division result: 1.25
Execution completed.

In [45]:
# Day 6: Simple To-Do List

tasks = []

def add_task(task):
    tasks.append(task)
    print(f"Added task: {task}")

def view_tasks():
    print("\nYour tasks:")
    for t in tasks:
        print("-", t)

add_task("Buy groceries")
add_task("Do Python practice")
view_tasks()

Added task: Buy groceries
Added task: Do Python practice

Your tasks:
- Buy groceries
- Do Python practice

In [46]:
# Day 7: Contact Manager

contacts = []

def add_contact(name):
    contacts.append(name)

def view_contacts():
    print("\nContacts List:")
    for contact in contacts:
        print("-", contact)

# Adding sample contacts
add_contact("Ankita")
add_contact("John")
add_contact("Sara")
view_contacts()

Contacts List:
- Ankita
- John
- Sara